.navigation {
    background-image: url(/Users/brendanholleytg/Documents/GitHub/UX_UI_HW_20/images/Bb_3D_logo.png);
    color: white;
    background-color: black;
}

.nav-item {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
.jumbotron {
    display: inline-flexbox;
   color: white;
   background-color: black;
   background-image: url(/Users/brendanholleytg/Documents/GitHub/UX_UI_HW_20/images/Bb_Memoji_01.tiff);
   background-image: center;
   height: 500px;
   background-position: right; 
   background-repeat: no-repeat;
   padding: 0;
}

.display-4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant-caps: all-small-caps;
    font-weight: 500;
    font-size: 60px;
    margin: 75px;
    width: 75%;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-img {
    background-image: url(/Users/brendanholleytg/Documents/GitHub/UX_UI_HW_20/images/Bb_Memoji_01.tiff);
    padding: 25px;
    margin: 0;
}

.my-4 {
    width:100%;
    padding: 25;
    margin: 0; 
}

.container {
    background-position: center;
}

.lead {
    width: 50%;
    text-align: center;    
}
.nav-item {
    color: black;
}

.card {
    display: inline-block;
}

.skills-icons {
    color: white;
    padding: 25px;
    margin: 0;
}
body {
    background-color: black;
  }